h1{
	font-size: 50px;
	text-decoration:underline;
	font-style: italic;
}


.figure-text{
	font-size: $mediumSize + px;
		
}

.list-text{
	@extend .figure-text;
}

.quote-text{
	@extend .figure-text;
	@include align(center);
	padding: 0 6px;

}

.wiki-text{
	@extend .quote-text; 
	@include inline-block();
	
}



blockquote{ 

	p:first-of-type{
		@extend .quote-text;
	}

	p:last-of-type{
		@extend .wiki-text;
	
	}

}

//Links
.interact-link{
	@include hoverFocus('color',red);
}